.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main {
    background-color: darkcyan;
}

.MainDiv {
    background-color: aliceblue;
    width: 100%;
    margin: auto;
}

.SubDiv {
    width: 30%;
    height: 300px;
    float: left;
    border: 2px solid rgb(187, 130, 130);
    box-sizing: border-box;
    column-gap: 30px;
}

.main img {
    width: 120px;
    height: 100px;
    padding: 2px;
}

.SubDiv>h3 {
    color: seagreen;
    font-size: 15px;
}

.SubDiv>button {
    padding: 5px;
    border-radius: 7px;
    white-space: 10px;
    font-size: 15px;
}

* {
    font-family: sans-serif;
}

.flexParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flexParent>div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}

input {
    width: 50px;
    text-align: center;
}

div {
    text-align: center;
}