h1 {
    color: purple;
    text-align: center;
}

.main {
    text-align: center;
}

button {
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border: transparent;
    border-radius: 7px;
    background-color: aqua;
}

button:hover {
    color: rgb(250, 198, 198);
    background-color: rgb(150, 93, 23);
}

.topics {
    margin: 0 15% 0 15%;
    background-color: bisque;
}

.even,
.odd {
    padding-left: 5%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
